<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p class="copyright">{{ fullYear }} © All Rights Reserved.</p>
        <a
          class="copyright text-white"
          href="https://fineit.io/"
          target="_blank"
        >
          Corporate Partner FineIT
        </a>
      </div>
      <div class="col-md-7">
        <div class="social-icons bottom">
          <ul class="list-inline">
            <li>Follow Us On</li>
            <li>
              <a
                href="https://join.skype.com/invite/jy3x4RjBXyVM"
                target="_blank"
              >
                <i class="fa fa-skype"></i>
              </a>
            </li>
            <li>
              <a
                href="https://dribbble.com/creativetechsolutions"
                target="_blank"
              >
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/muzammalrahim/"
                target="_blank"
              >
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
