.slick-wrapper {
  width: 1000px;
  margin: 20px auto;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.ptb-100 {
  padding: 100px 0;
}

.slide {
  margin-bottom: 40px;
}
.section-title h2 {
  margin: 0 0 25px;
  font-weight: 600;
  text-transform: capitalize;
}
.section-title {
  position: relative;
  z-index: 1;
}
a:focus,
h2 {
  color: #fe5619;
}

::ng-deep .slick-dots li button:before {
  font-size: 12px !important;
}
.logo-preview img {
  display: block;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.5;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.logo-preview img:hover {
  display: block;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  opacity: 1;
}
