.testimonail_wrap {
  position: relative;
  width: 100%;
}

.client_profiles {
  width: 388px;
  height: 261px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
}

.client_profiles img {
  width: 100%;
  display: block;
}

.testimonial-text {
  position: absolute;
  top: 0;
  width: 73%;
  left: 300px;
  top: 30px;
  /* background: #e6e6e6; */
  background: #ffffff;
  padding: 15px 20px 10px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}

.testimonial-text i {
  float: right;
  font-size: 30px;
}

.single-testimonial-item p {
  max-width: 750px;
  margin: 50px auto;
  font-size: 20px;
  font-weight: 500;
  color: #626262;
  line-height: 30px;
  font-style: italic;
}
.single-testimonial-item i {
  font-size: 50px;
}
.client-profile {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.client-profile img {
  width: 100%;
  height: auto;
}
.client-info h3 {
  margin: 25px 0 2px;
}
.client-info span {
  font-size: 16px;
  font-style: italic;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 50px !important;
}
.testimonial-slides .owl-nav div {
  top: 50%;
  font-size: 50px !important;
  margin-top: -20px !important;
  opacity: 0.8;
  position: absolute;
  background-color: transparent !important;
  left: 0px;
  text-align: center;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}
.testimonial-slides .owl-nav div:hover {
  opacity: 1;
  color: #848484;
}
.testimonial-slides .owl-nav div.owl-next {
  left: auto;
  right: 0;
}
.ptb-100 {
  padding: 100px 0px;
}
a:focus,
h2 {
  color: #fe5619;
}
.slide {
  margin-bottom: 40px;
}
