.filtr-item {
  padding-top: 30px;
}
.filter-menu {
  margin-top: 30px;
  position: relative;
  text-align: center;
  z-index: 5;
}
.filter-menu button {
  display: inline-block;
  cursor: pointer;
  background-color: #eee;
  padding: 7px 15px;
  text-transform: uppercase;
  border: none;
  margin: 0 2px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.filter-menu button.programs-filter-btn-active,
.filter-menu button:hover {
  color: #fff;
}
.work-details {
  background: #fff;
  text-align: center;
  position: relative;
  margin-top: 30px;
}
.work-details img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}

.work-details:hover img {
  opacity: 0.5;
}
.work-details .box-content {
  padding: 30px 10px 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
.work-details:hover .box-content {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  opacity: 0.9;
}
.work-details .title {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 17px;
  margin: 5px 0;
  position: absolute;
  bottom: 55%;
}
.work-details .icon {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 22px;
  position: absolute;
  top: 50%;
}
.work-details .icon li {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
.work-details:hover .icon li {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
}
.work-details:hover .icon li:first-child {
  transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
}
.box:hover .icon li:nth-child(2) {
  transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
}
.work-details .icon li span {
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 5px;
  transition: all 0.35s ease 0s;
  -webkit-transition: all 0.35s ease 0s;
}
.work-details .span :hover {
  background: #fff;
}
#Container .mix {
  display: none;
}
.ptb-100 {
  padding: 100px 0px;
}
a:focus,
h2 {
  color: #fe5619;
}
.btn-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.btn-a button {
  border: 1px solid #fe5619;
  background-color: #fe5619;
  padding: 10px 40px 10px 40px;
  text-transform: capitalize;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.comments-title:before,
.work-details .box-content {
  background: #fe5619;
}
.work-details:hover .icon li {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
}
.team-box .icon li a,
.team-slides .owl-nav div,
.work-details .icon li span {
  color: #fe5619 !important;
}
::ng-deep .lb-data .lb-caption {
  color: "#fff";
  font-size: 30px;
  font-weight: 600;
}
